CI_Test/Schemas/RequestSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1755584735848" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1755584735848">
    
  <xsd:element name="Element">
        
    <xsd:complexType>
            
      <xsd:sequence>
                
        <xsd:element maxOccurs="1" minOccurs="1" name="no1" type="xsd:integer"/>
                
        <xsd:element maxOccurs="1" minOccurs="1" name="no2" type="xsd:integer"/>
              
      </xsd:sequence>
          
    </xsd:complexType>
      
  </xsd:element>
  
</xsd:schema>
